// Navigation Styles here

nav{
    display: flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 12rem;
    padding-top: 2rem;
    border-bottom:@borderBottom;
    @media (@mobileScreen) {
        flex-direction: column;
        margin-left: 0;
        padding-left: 0;
    };
    .left-nav-item {
        a{
            .nav-a();
            .font-a(3rem,'Indie Flower');
            padding-right: 3rem;
            margin-right: 3rem;
        };
    };
    .right-nav-item{
        
        a{
            padding: @paddingDesktop+3rem;
            margin: @marginDesktop;
            .nav-a();
            .font-a(2rem,'Indie Flower');
            @media (@mobileScreen) {
                padding: 1rem;
                margin: 0;
                text-align: center;
            };
        }
    }
}